**/*.config
.scripts.config
**/scripts/Fiji.app/*
*~
**/*#$
**/*#
.cred-*
test-*
frag-*
*bup*
*swp
*dbg.sh
*marks
*log
*bat
gitInit.sh
gitPush.sh
**/fsdb.core.initFsdb.ijm
**/auth
**/logo.png
**/logs/*
**/index/*
**/bftools/*
**/sandbox/*
**/ants-reg/*
**/tools/*
**/*.tsv
